# Configuración general
PORT=3000
MAILER_SERVICE=gmail
MAILER_EMAIL=tu-correo@gmail.com
MAILER_SECRET_KEY=clave-secreta-app
PROD=false
   
# MongoDB
MONGO_URL=mongodb://admin:123456@localhost:27017/
MONGO_DB_NAME=NOC
MONGO_USER=admin
MONGO_PASS=123456

# PostgreSQL
POSTGRES_URL=postgresql://postgres:123456@localhost:5432/NOC
POSTGRES_DB_NAME=NOC
POSTGRES_USER=postgres
POSTGRES_PASS=123456